{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <form action="{{ url_for('history') }}" method="post">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span style="font-weight:bold">SYMBOL</span></th>
                    <th><span style="font-weight:bold">SHARES</span></th>
                    <th><span style="font-weight:bold">PRICE</span></th>
                    <th><span style="font-weight:bold">TRANSACTED</span></th>
                </tr>
            </thead>
            <tfoot>
            </tfoot>
            <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction['stock'] }}</td>
                    <td>{{ transaction['shares'] }}</td>
                    <td>{{ transaction['price'] }}</td>
                    <td>{{ transaction['date'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}
